__pycache__/
1-Project Overview.webarchive
2-Project Display Example.webarchive
3-Project Details.webarchive
4-Movie Trailer Website.webarchive
5-Rubrics.webarchive
6a-Review.webarchive
6b-Review.webarchive
submission.zip
